<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>

        <header th:fragment="header">
            <a th:href="@{/transfer}">Account</a>
            <a th:href="@{/accountsearch}">Search</a>
            <a th:href="@{/logout}">Logout</a>
            <a th:href="@{/signups}">Signups</a>
        </header>

    </body>
</html>
