<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
         
        <h2>Search</h2>
        <form id = "searchForm" action="#" th:action="@{/accountsearch}" method="POST">
            <p><label for="searchString"></label> <input type="text"  placeholder="searchString" name="searchString" id="searchString" required=""/></p>
            <p><input type="submit" value="Search" /></p>
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>iban</th>
                <th>address</th>
            </tr>
            <tr th:each="account : ${accounts}">
                <td th:utext="${account.name}">Account name</td>
                <td th:utext="${account.iban}">Account iban</td>
                <td th:utext="${account.address}">Account address</td>
            </tr>
        </table>

    </body>
</html>
