<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signup</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>

        <h2>Signup..</h2>

        <table>
            <tr th:each="signup : ${signups}">
                <td th:text="${signup.name}">Name</td>
                <td th:text="${signup.password}">Password</td>
                <td th:text="${signup.iban}">Address</td>
                <td th:text="${signup.address}">Address</td>
            </tr>
        </table>
    </body>
</html>
