<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bank transfer</title>
    </head>

    <body>       
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        
        <table>
            <tr>
                <th>Account</th>
                <th>Iban</th>
                <th>Balance</th>
                <th>Address</th>
            </tr>
            <tr th:each="account : ${curaccount}">
                <td th:text="${curaccount.name}">Account name</td>
                <td th:text="${curaccount.iban}">Account iban</td>
                <td th:text="${curaccount.balance}">Account balance</td>
                <td th:text="${curaccount.address}">Account address</td>
            </tr>
        </table>


        <h2>Transfer money</h2>

        <form th:action="@{/transfer}" method="POST">
            <span>From:</span><br/>
            
            <input type="text" name="from" th:value="${curaccount.iban}"/><br/>
            <!--
            <select name="from">
                <option th:each="account: ${accounts}" th:value="${account.iban}" 
                        th:text="${account.iban}" >Options</option>
            </select><br/>
            -->
            <span>To:</span><br/>
            <!--
            <select name="to">
                <option th:each="account: ${accounts}" th:value="${account.iban}" 
                        th:text="${account.iban}" >Options</option>
            </select><br/>
            -->
            <input type="text" name="to"/><br/>
            
            <span>Amount:</span><br/>
            <input type="number" name="amount" min="1" max="2147483647"/><br/>

            <input type="submit" value="Add!"/>
        </form>
        

        
    </body>
</html>
